
.card-container{
  position: relative;
}

.card-container .single-card{
  position: relative;
  min-width: 320px;
  height: 480px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.card-container .single-card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.card-container .single-card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.card-container .single-card:after{
  content: 'Apple';
  position: absolute;
  top: 45%;
  left: -10%;
  font-size: 9em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.card-container .single-card .imgBx{
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.card-container .single-card:hover .imgBx{
  top: 7%;
  transform: translateY(0%);
    
}

.card-container .single-card .imgBx img{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 350px;
  transition: 0.5s;
}

.card-container .single-card:hover .imgBx img{
    transform: translate(-50%, -50%) rotate(-25deg);
      
}

.card-container .single-card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.card-container .single-card:hover .contentBx{
  height: 170px;
}

.card-container .single-card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.card-container .single-card .contentBx .size, .card-container .single-card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.card-container .single-card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.card-container .single-card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.card-container .single-card .contentBx .size h3, .card-container .single-card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
  padding-top: 10px;
}


.card-container .single-card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.card-container .single-card .contentBx .size span:hover{
  background: #9bdc28;
}

.card-container .single-card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.card-container .single-card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.card-container .single-card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.card-container .single-card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.card-container .single-card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.card-container .single-card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}



/***********small card**********/
.small-card {
  position: relative;
  min-width: 320px;
  height: 480px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.small-card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  transform: skewY(345deg);
  transition: 0.5s;
}

.small-card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.small-card::after {
  content: "Apple";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.small-card .small-imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}
*/
.small-card .small-contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.small-card .small-contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.small-card .small-contentBox .card-price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.small-card .small-contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.small-card:hover .small-contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}


/*****************Popular Card***************/

.popular-container {
  position: relative;
}

.popular-card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.popular-container .popular-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1BBFE9;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.popular-container .popular-card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.popular-container .popular-card:after {
  content: "Apple";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.popular-container .popular-card .popular-imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.popular-container .popular-card:hover .popular-imgBx {
  top: 0%;
  transform: translateY(-25%);
}

.popular-container .popular-card .popular-imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 270px;
}

.popular-container .popular-card .popular-contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}


.popular-container .popular-card:hover .popular-contentBx {
  height: 210px;
}

.popular-container .popular-card .popular-contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.popular-container .popular-card .popular-contentBx .popular-size,
.popular-container .popular-card .popular-contentBx .popular-color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}

.popular-container .popular-card:hover .popular-contentBx .popular-size {
  opacity: 1;
  visibility: visible;
  transition-delay: .5s;
}

.popular-container .popular-card:hover .popular-contentBx .popular-color {
  opacity: 1;
  visibility: visible;
  transition-delay: .6s;
}

.popular-container .popular-card .popular-contentBx .popular-size h3,
.popular-container .popular-card .popular-contentBx .popular-color h3 {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.popular-container .popular-card .popular-contentBx .popular-size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: .5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.popular-container .popular-card .popular-contentBx .popular-size span:hover {
  background: #B90000;
}

.popular-container .popular-card .popular-contentBx .popular-color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.popular-container .popular-card .popular-contentBx .popular-color span:nth-child(2) {
  background: #1BBFE9;
}

.popular-container .popular-card .popular-contentBx .popular-color span:nth-child(3) {
  background: #1B2FE9;
}

.popular-container .popular-card .popular-contentBx .popular-color span:nth-child(4) {
  background: #080481;
}

.popular-container .popular-card .popular-contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: .5s;
}

.popular-container .popular-card:hover .popular-contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .7s;
}

.popular-contentBx h6 {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}


/*****************Product Card**********/

.product-card-container {
  display: flex;
  flex-direction: column;
  width: calc(25% - 15px);
  height: auto;
  cursor: pointer;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  position: relative; 
  transition: box-shadow 0.3s;
  border-radius: 5px;
}

.product-card-container h3, .product-card-container h4, .product-card-container h5, .product-card-container h6 {
  margin: 0px;
}
.product-image-container {
  max-width: 600px;
  max-height: 600px;
  text-align: center;
}

.product-image-container img {
  max-width: 100%;
  height: auto; /* Ensures the image maintains its aspect ratio */
  object-fit: cover;
}

.product-card-title {
  font-size: 0.95em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
  color: #232323;
  font-weight: 600;
}



.product-review-rating {
  display: flex;
  align-items: center;
  padding: 10px 0px;

}

.rating-container {
  display: flex;
  align-items: center;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.product-review-rating h6 {
  font-size: 0.9em;
}

.review-container {
  padding-left: 10px;
  font-size: #484848;
}

.rating-container i {
  padding-left: 3px;
  font-size: 10px;
}
.rating-container.green {
  background-color: green;
}

.product-pricing {
  display: flex;
  align-items: center;
}


.product-pricing h4{
  font-size: 1em;
  font-weight: 600;
  color: #232323;
}



.product-pricing h5{
  font-size: .75em;
  font-weight: 500;
  padding-left: 10px;
  color: #484848;
}


.product-pricing h6{
  font-size: 0.70em;
  font-weight: 600;
  color: green;
  padding-left: 10px;
}

.product-info-container {
  padding: 20px;
}

.product-card-container:hover .product-card-title {
  color: #e55b00;
}

.product-card-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media(max-width:1300px) {

  .product-card-container {
    width: calc(33.33% - 14px);
  }
  
}

@media(max-width:1024px) {

  .product-card-container {
    width: calc(50% - 10px);
  }
  
}
