
.card-container{
  position: relative;
}

.card-container .single-card{
  position: relative;
  width: 320px;
  height: 480px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.card-container .single-card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.card-container .single-card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.card-container .single-card:after{
  content: 'Apple';
  position: absolute;
  top: 45%;
  left: -10%;
  font-size: 9em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.card-container .single-card .imgBx{
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.card-container .single-card:hover .imgBx{
  top: 7%;
  transform: translateY(0%);
    
}

.card-container .single-card .imgBx img{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 350px;
  transition: 0.5s;
}

.card-container .single-card:hover .imgBx img{
    transform: translate(-50%, -50%) rotate(-25deg);
      
}

.card-container .single-card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.card-container .single-card:hover .contentBx{
  height: 170px;
}

.card-container .single-card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.card-container .single-card .contentBx .size, .card-container .single-card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.card-container .single-card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.card-container .single-card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.card-container .single-card .contentBx .size h3, .card-container .single-card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
  padding-top: 10px;
}


.card-container .single-card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.card-container .single-card .contentBx .size span:hover{
  background: #9bdc28;
}

.card-container .single-card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.card-container .single-card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.card-container .single-card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.card-container .single-card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.card-container .single-card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.card-container .single-card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}



/***********small card**********/
.small-card {
  position: relative;
  width: 320px;
  height: 480px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.small-card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  transform: skewY(345deg);
  transition: 0.5s;
}

.small-card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.small-card::after {
  content: "Apple";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.small-card .small-imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}
*/
.small-card .small-contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.small-card .small-contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.small-card .small-contentBox .card-price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.small-card .small-contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.small-card:hover .small-contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}
