/* Homepage styles */
.homepage-container {
    height: 100%;
}

.carousel-item {
    margin: 0;
    height: calc(100vh - 80px);
}


.carousel-item img {
    height: 100%;
    object-fit: cover;
}


@media (prefers-reduced-motion:reduce) {
    .carousel-indicators li {
        transition: none
    }
}

.carousel-indicators .active {
    opacity: 1
}

.carousel-caption {
    position: absolute;
    z-index: 10;
    right: 5%;
    top: 0%;
    bottom: 0%;
    left: 15%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
    text-align: right;
    width: 50%;
    height: fit-content;
    margin-left: auto;
    overflow: hidden;

}


.carousel-caption .UHT2 {
    font-size: 120px;
    margin-bottom: 0;
    margin-top: 0;
}

.carousel-caption h5 {
    animation: 0.8s carousel-caption 0.8s forwards;
    transform: translateX(-100%);
}

.carousel-caption .homeTemperature {
    font-size: 25px;
    font-style: italic;
    animation: 0.5s carousel-caption 0.45s forwards;
    transform: translateX(-100%);
}

.carousel-caption .UDTSubtitle {
    font-size: 40px;
    margin: 0;
    animation: 0.5s carousel-caption 0.45s forwards;
    transform: translateX(-100%);
}

.carousel-caption .shopBtn {
    margin-top: 40px;
    text-transform: uppercase;
    animation: 0.5s carousel-caption 0.4s forwards;
    transform: translateX(-100%);
    color: #ff6600;
}

.carousel-caption .shopBtn a {
    text-decoration: none;
    color: white;
}

.carousel-caption .shopBtn span {
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.carousel-caption .shopBtn span:hover {
    background-color: white;
    color: #ff6600;
}


@media(max-width: 1070px) {

    .carousel-caption .shopBtn span {
        padding: 7px 14px;
    }


    .carousel-caption .shopBtn span {

        display: flex;
        width: 50%;
        font-size: 14px;
        margin-left: auto;
        white-space: nowrap;
        justify-content: center;
    }

    .carousel-caption .UHT2 {
        font-size: 70px;
        margin-bottom: 0;
        margin-top: 0;
    }

}


@keyframes carousel-caption {
    to {
        transform: translateX(0);
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*******************popular category********/

.popular-category {
    margin: 50px auto;
    width: 95%;
}

.popular-category h1 {
    padding-bottom: 15px;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
}

.popular-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*.big-card,
.small-card-container {
    flex: 1;
    padding: 0px 10px;
}

.big-card {
    display: flex;
    flex-direction: column;
}
.big-card .card-container{
    padding: 10px 0px;
}

.big-card .card-container .single-card {
    width: 100%;

}

.small-card-container {
    display: flex;
    flex-direction: column;
}

.upper-small,
.lower-small {
    display: flex;
}

.small-card-div {
    padding: 10px 10px;
}*/


.upper-layer, .lower-layer {
    display: flex;
    width: 100%;
}

.lower-layer {
    flex-flow: row-reverse;
}

.big-card {
    flex: 2;
}


.small-card-div {
    flex: 1;
}

.big-card .card-container .single-card {
    width: 100%;

}

.big-card .card-container{
    margin: 10px;
}

.small-card-div .small-card {
    margin: 10px;
}



/***************Shop by link***************/


.shop-by-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-by-link li {
    list-style: none;
    margin: 10px 10px;
}


/* Dark mode styles */
.dark-mode {
    background-color: rgba(0, 0, 0, 1); /* Dark background color */
    color: #fff;
    transition: background-color .5s, color .5s;
}

/* Dark section styles */
.dark-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: center;
}

.dark-section h1 {
    padding: 15px 0px;
    font-size: 80px;
    width: 100%;
    font-weight: 900;
}

.dark-section h3 {
    font-size: 30px;
    width: 80%;
}

/* ... (other styles) */

.glowing-text {
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ffff00, #ff00ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: flowing 4s linear infinite;
}

@keyframes flowing {
    0%, 100% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    75% {
        background-position: 75% 50%;
    }
}
